<section data-ng-controller="HomeController" class = "full ">
	<div class="jumbotron text-center">
		<div class="row ">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 fill">
			<!--	<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->
				<h1>Critique.me</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A Place to Share in Creativity
			</p>
		</div>

	</div>
	<div class = "text-center col-md-10 col-md-offset-1 intro-text">
		<h2>Making good art can be tough. We want to change that.</h2>
		<p>Getting feedback on your work is complicated. The wilds of the internet can be cruel, and your family thinks every piece you make is perfect. So we made Critique.me.</p>
		<p>Upload your work to get constructive criticism from a community passionate about the same things you are. Explore portfolios to get inspired to keep making your best work.
		</p>
	</div>
	<div class="row">

	</div>

	
</section>
