<section data-ng-controller="PhotosController" data-ng-init="find()" >
<div class="row text-center">
	<h2>Recent Uploads</h2>
</div>

<br>
			<div class="row">
        <div  ng-repeat="photo in photos" class="col-xs-6 col-md-3">
          <a data-ng-href="#!/photos/{{photo._id}}"  class="thumbnail">
            <image src="{{photo.image}}"  />
          </a>
        </div>
      </div>
<div class="row text-center">
  <h2>Most Popular</h2>
</div>
      <div class="row">
        <div  ng-repeat="photo in photos | orderBy: '-upvotes'" class="col-xs-6 col-md-3">
          <a data-ng-href="#!/photos/{{photo._id}}"  class="thumbnail">
            <image src="{{photo.image}}"  />
          </a>
        </div>
      </div>

		

	</div>

	
</section>
