<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Your profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
		
		<div class = "row">
				<p class="lead text-center" style="color:black;">You are <span class ="accentColor">{{user.displayName}}</span>. The email address you gave us is <span class ="accentColor">{{user.email}}</span>. Here you're known by the name <span class ="accentColor">{{user.username}}</span>. This is what you've told us about yourself - <br /><br />
					<em>{{user.userDescription}}</em></p>
					
				
		</div>
	</div>
	</div>
</section>